.mat-list-item {
  height: auto;
  margin: 8px 0;
  font-size: 20px;
}

.all-gpio-switches {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
  }

  .buttons {
    flex: 1;
    text-align: right;
  }

  button {
    margin: 5px 0;

    &:last-of-type {
      margin-left: 10px;
    }
  }
}

.mat-card,
.mat-slide-toggle {
  width: 100%;
  box-sizing: border-box;
}

::ng-deep .mat-slide-toggle-label {
  display: flex;
  justify-content: space-between;
}

::ng-deep .mat-slide-toggle-content {
  flex: 0.9;
}

mat-slide-toggle {
  ::ng-deep .mat-slide-toggle-label .mat-slide-toggle-bar {
    transform: scale(1.8);
    transform-origin: center right;
  }
}
