  <mat-list>
    <mat-list-item>
      <mat-card>
        <div class="all-gpio-switches">
          <span>All GPIOs</span>
          <div class="buttons">
            <button
              mat-raised-button
              color="warn"
              (click)="setAllGpioValue(false)"
              [disabled]="isAllGpioOff$ | async">OFF</button>
            <button
              mat-raised-button
              color="accent"
              (click)="setAllGpioValue(true)"
              [disabled]="isAllGpioOn$ | async">ON</button>
          </div>
        </div>
      </mat-card>
    </mat-list-item>

    <!-- <mat-list-item *ngFor="let gpioSwitchFormControl of gpioSwitchFormArray.controls; let i=index">
      <mat-card>
        <mat-slide-toggle
          (click)="something($event)"
          [labelPosition]="'before'"
          [formControl]="gpioSwitchFormControl">
          GPIO_{{i+1}}
        </mat-slide-toggle>
      </mat-card>
    </mat-list-item> -->
    <mat-list-item *ngFor="let gpioSwitchFormControl of gpioSwitchFormArray.controls; let i=index">
      <mat-card>
        <mat-slide-toggle
          (click)="something($event)"
          labelPosition="before"
          disableRipple>
          {{getNameForPin(i+1)}}
        </mat-slide-toggle>
      </mat-card>
    </mat-list-item>
  </mat-list>
