<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar role="heading">
      <span>Smart home</span>
      <span class="spacer"></span>
      <button (click)="sidenav.open()" mat-icon-button aria-label="Menu button">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
  <mat-sidenav mode="over" #sidenav>
    <mat-list>
      <mat-list-item>Test item</mat-list-item>
    </mat-list>
  </mat-sidenav>
</mat-sidenav-container>
